li {
    list-style: none;
}

.likedList {
    width: 30%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.likedList button {
    color: #fff; 
    text-decoration: none; 
    background: rgb(212,75,56);
    padding: .7em 1.5em; 
    outline: none; 
    width: 80%;
    border: none;
    align-self: center;
}

.likedList button:hover {
    background: rgb(232,95,76);
}

.likedList button:active {
    background: rgb(152,15,0);
}

.likedElement {
    background-color: #90ee90;
    height: 300px;
    width: 300px;
    list-style: none;
    border: 1px solid #eee;
}

span {
    margin: 20px 0;
}

.list-not-visible {
    width: 100%;
    margin: 0 auto;
    display: none;
}

.list-visible {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #90ee90;
    height: 300px;
    width: 400px;
    border: 1px solid #eee;
}

